<%- contentFor('header') %>
<link rel="stylesheet" href="/styles/contactsStyle.css">

<%- contentFor('body') %>
<section>
  <div id="top-tab">
    <button type="button" class="add-contact btn btn-success">Add new contact</button>
    <input type="text" class="search-input form-control" placeholder="Search">
  </div>
  <div id="contacts-table">
    <table class="table table-primary table-hover">
      <tbody>
        <% contacts.forEach((contact) => { %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td>
              <button type="button" class="edit btn btn-warning btn-sm" value="<%= contact._id %>">Edit</button>
              <button type="button" class="delete btn btn-danger btn-sm" value="<%= contact._id %>">Delete</button>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</section>

<script src="/scripts/contacts/index.js" type="module"></script>
